<!-- Include Twitter Bootstrap and jQuery: -->

<!-- Include the plugin's CSS and JS: 
 <script type="text/javascript" src="../assets/js/bootstrap-multiselect.js"></script>
 -->
 
<!-- Build your select: -->

<% if @user.user_interests.first == nil %>
  <div id="Interest_selection">
	<h3> Choose fields of interest </h3>
	<%= fields_for(UserInterest.all.build) do |cc| %>
 	   <%= cc.label "All Interests" %>
 	   <table>
 	   	<tbody>
	 	   <tr>
	  	   	  <td class="interests_list"><%= collection_check_boxes(:interests, :id, Interest.all, :id, :name, {}, { :multiple => true }) %></td>	
	  	  	  <td class="follow_up_q"><%= collection_check_boxes(:interests, :follow_up_question, Interest.all, :id, :follow_up_question, {}, { :multiple => true }) %></td>	
	  	  	</tr>
	  	 </tbody>
  	  </table>

     <% end %>
 </div>



<% else %>
	<h3> You currantly selected the following interests </h3>
	<% @user.user_interests.each do |int| %>
  		<%= Interest.find_by_id(int.interest_id).name %>
  	<% end %>
    <h3> Would you like to edit your selection ? </h3>
    <button id="edit_selection">Yes</button>
	<div id="selections">
		<%= fields_for(UserInterest.all.build) do |cc| %>
 		   <%= cc.label "All Interests" %>
  	 	  <%= collection_select(:interests, :id, Interest.all, :id, :name, {}, { :multiple => true }) %>
        <% end %>
    </div>
<% end %>
  
<!-- Initialize the plugin: -->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
$(document).ready(function () {
	$( ".follow_up_q input" ).each(function( index ) {
		$( this ).hide()
	});
	$( ".follow_up_q label" ).each(function( index ) {
		$( this ).hide()
	});

	$( ".interests_list input" ).each(function( index ) {
		var myId = "#interests_follow_up_question_" + index;
		var myLabel = "label[for='interests_follow_up_question_" + index + "']";

		$(this).click(function() {
			console.log($(this).val());
			console.log("myID = " + "#interests_follow_up_question_" + $(this).val() + " myLabel = " + "label[for='interests_follow_up_question_" + $(this).val() + "']");
			if ($(this).is(':checked')) {
				console.log("Checked");
								$("#interests_follow_up_question_" + $(this).val()).show();

				$("label[for='interests_follow_up_question_" + $(this).val() + "']").show();
			} else {
				console.log("unChecked");
				$("#interests_follow_up_question_" + $(this).val()).hide();
				$("label[for='interests_follow_up_question_" + $(this).val() + "']").hide();
			}
		});	
	});
	
	
	
	$('#selections').hide();
	$('#edit_selection').click(function() {
		$('#selections').show();
		return false; 

	});
});

</script>



