<h1>User Profile</h1>
  name: <%= @user.name %><br>
  age: <%= @user.age %><br>
  sex: <%= @user.sex %><br>
  Relationship status: <%= @user.relationship %><br>
  interests: <% @user.user_interests.each do |int| %>
  			  <%= Interest.find_by_id(int.interest_id).name %>
  			  <%= Interest.find_by_id(int.interest_id).follow_up_question %>
  			  <%= int.follow_up_answer %> <br>
  			  <% end %>	
          <br>
 kids:  <% @user.kids.each do |kid| %>
           <%= kid.name %>
          <%= kid.age %>
	        <%= kid.sex %><br>
        <% end %>